flows/commands.json
[{"id":"ec365269.3e4528","type":"function","z":"98f5d121.9a9428","name":"Handle Text","func":"msg.eventOrCommandType = \"text\";\nmsg.payload = JSON.stringify({\"d\":{\"text\":\"Received text message\"}});\n\nreturn msg;","outputs":1,"noerr":0,"x":697,"y":480.9999694824219,"wires":[["880f86d0.406d"]]},{"id":"e9128b97.114ce","type":"debug","z":"98f5d121.9a9428","name":"","active":false,"console":"false","complete":"false","x":404.1999969482422,"y":137,"wires":[]},{"id":"35913886.24031","type":"ibmiot in","z":"98f5d121.9a9428","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"FabriceiPhone6","applicationId":"","deviceType":"","eventType":"+","commandType":"","format":"json","name":"IoT App In","service":"registered","allDevices":false,"allApplications":"","allDeviceTypes":true,"allEvents":true,"allCommands":"","allFormats":false,"x":111,"y":311.9999694824219,"wires":[["18900be6.0273cc","e9128b97.114ce"]]},{"id":"18900be6.0273cc","type":"switch","z":"98f5d121.9a9428","name":"event","property":"eventType","rules":[{"t":"eq","v":"accel"},{"t":"eq","v":"touchmove"},{"t":"eq","v":"text"}],"checkall":"true","outputs":3,"x":325,"y":306.9999694824219,"wires":[["22e972e0.7b3b5e"],["94c32600.d43a98"],["2b29a567.90aae2","665f480a.da9f"]]},{"id":"22e972e0.7b3b5e","type":"function","z":"98f5d121.9a9428","name":"Handle accel","func":"var accelZ = msg.payload.d.acceleration_z;\nvar r = 0.0;\nvar b = 0.0;\nvar g = 0.0;\nif (accelZ > 0) {\n\t//g = 255.0;\n\tr = 178;\n\tg = 102;\n\tb = 255;\n} else if (accelZ < 0) {\n\t//r = 255.0;\n\tr = 102;\n\tg = 255;\n\tb = 102;\n} else {\n\tr = 104;\n\tg = 109;\n\tb = 115;\n}\na = 1.0;\n\nmsg.eventOrCommandType = \"color\";\nmsg.payload = JSON.stringify({\"d\":{\"r\":r,\"b\":b,\"g\":g,\"alpha\":a}});\n\nreturn msg;","outputs":1,"noerr":0,"x":494,"y":229.99996948242188,"wires":[["880f86d0.406d"]]},{"id":"fa4c5426.86259","type":"function","z":"98f5d121.9a9428","name":"Handle touchmove","func":"msg.eventOrCommandType = \"text\";\nmsg.payload = JSON.stringify({\"d\":{\"text\":\"Received touch message from APP\"}});\n\nreturn msg;\n","outputs":1,"x":669,"y":305.9999694824219,"wires":[["880f86d0.406d"]]},{"id":"665f480a.da9f","type":"debug","z":"98f5d121.9a9428","name":"","active":true,"console":"false","complete":"true","x":702,"y":137.99996948242188,"wires":[]},{"id":"94c32600.d43a98","type":"switch","z":"98f5d121.9a9428","name":"ended","property":"payload.d.ended","rules":[{"t":"eq","v":1,"v2":0},{"t":"else"}],"checkall":"true","outputs":2,"x":487,"y":306.9999694824219,"wires":[["fa4c5426.86259"],[]]},{"id":"2b29a567.90aae2","type":"switch","z":"98f5d121.9a9428","name":"light or text","property":"payload.d.text","propertyType":"msg","rules":[{"t":"eq","v":"light","vt":"str"},{"t":"eq","v":"alert","vt":"str"},{"t":"else"}],"checkall":"true","outputs":3,"x":491,"y":399.9999694824219,"wires":[["96aa7b79.610e68"],["6d810b3b.117364"],["ec365269.3e4528"]]},{"id":"96aa7b79.610e68","type":"function","z":"98f5d121.9a9428","name":"Handle Light","func":"msg.eventOrCommandType = \"light\";\nmsg.payload = JSON.stringify({\"d\":{\"text\":\"Received light message\"}});\n\nreturn msg;","outputs":1,"noerr":0,"x":696,"y":375.9999694824219,"wires":[["880f86d0.406d"]]},{"id":"3da55226.3165a6","type":"comment","z":"98f5d121.9a9428","name":"Type","info":"msg.payload.d.type contains the type of the message \nreceived.\n\nThe iOS and Android apps currently send messages of the\nfollowing types:\n\n - accel: Contains x,y,z acceleration values\n   Properties:\n    - acceleration_x\n    - acceleration_y\n    - acceleration_z\n    - roll\n    - pitch\n    - yaw\n - touchmove: Contains x,y start and end coordinates\n   Properties:\n    - startX\n    - endX\n    - diffX\n    - diffY\n - text: Contains some text message\n   Properties:\n    - text","x":324,"y":345.9999694824219,"wires":[]},{"id":"6599cf3d.64ae3","type":"comment","z":"98f5d121.9a9428","name":"Text & Light","info":"If the text message is just \"light\", then send a light \ncommand message back to the device to toggle the light.\n\nOtherwise, just send a text command message back to the device.","x":491,"y":431.9999694824219,"wires":[]},{"id":"1a87a88a.50ee2f","type":"comment","z":"98f5d121.9a9428","name":"touchmove","info":"the final message the apps send for a touchmove will contain\nan ended property.\n\nWhen we get the ended message, send a text command message\nback to the device.","x":491,"y":338.9999694824219,"wires":[]},{"id":"4a54a7c9.70e628","type":"comment","z":"98f5d121.9a9428","name":"accel","info":"Send color command messages back to the device based upon\nthe value of acceleration_z from accel event messages.","x":495,"y":260.9999694824219,"wires":[]},{"id":"6d810b3b.117364","type":"function","z":"98f5d121.9a9428","name":"Handle alert","func":"msg.eventOrCommandType = \"alert\";\nmsg.payload = JSON.stringify({\"d\":{\"text\":\"Work Order 123456 created!\"}});\n\nreturn msg;","outputs":1,"noerr":0,"x":697,"y":426.9999694824219,"wires":[["880f86d0.406d","b044ef07.cffd08"]]},{"id":"880f86d0.406d","type":"ibmiot out","z":"98f5d121.9a9428","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"FabriceiPhone6","deviceType":"iPhone","eventCommandType":"text","format":"json","data":"{\"d\":{\"value\":\"text\"}}","name":"IoT App Out","service":"registered","x":954,"y":295.9999694824219,"wires":[]},{"id":"b044ef07.cffd08","type":"debug","z":"98f5d121.9a9428","name":"","active":true,"console":"false","complete":"true","x":911,"y":424.9999694824219,"wires":[]}]